.TojiPfp {
    width: 200px;
    height: auto;
    border-radius: 150px;
    display: block;
    margin-left: 384px;
    margin-top: -110px;
}
.NameLeft {
    letter-spacing: -1.5px;
    font-family: "Playfair Display", sans-serif;
    color: #1E3A8A;
}
.NavigationTop {
    display: flex;
    gap: 50px;
    margin-top: -50px;
    margin-left: 650px;
    letter-spacing: -1.5px;
    font-family: "Playfair Display", sans-serif;
    font-size: 12px;
    color: #1E3A8A;
}

.HiToji {
    font-size: 60px;
    text-align: center;
    letter-spacing: -2px;
    font-style: italic;
    color: #1E3A8A;
}
.TojiHighlight {
    color: #c92a2a;
}
.animatorHighlight {
    color: #c92a2a;
}
.DescAni {
    font-size: 60px;
    text-align: center;
    margin-left: 150px;
    margin-top: -40px;
    letter-spacing: -2px;
    font-style: italic;
    color: #1E3A8A;
}
body {
    background-color: #F8F9FA;
}
.NavigationBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 650px;
    font-family: "Playfair Display", sans-serif;
    font-size: 12px;
    gap: 35px;
    color: #1E3A8A;
}
.HireButton {
    display: inline-block;
    padding: 25px 50px;
    color: #FFFFFF;
    border: 2px solid black;
    margin-left: 300px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    font-family: "Playfair Display", sans-serif;
    font-size: 25px;
    margin-top: -25px;
    font-weight: bold;
    background-color: #2C3E50;
    cursor: pointer;
    text-decoration: none;
}
.HireButton:hover {
    background-color: #EAB308;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    text-decoration: none;
}
.ProjectsButton {

    display: inline-block;
    padding: 25px 50px;
    color: #FFFFFF;
    border: 2px solid black;
    margin-left: 10px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    font-family: "Playfair Display", sans-serif;
    font-size: 25px;
    margin-top: -25px;
    font-weight: bold;
    background-color: #2C3E50;
    cursor: pointer;
    text-decoration: none;
}
.Buttons {
    display: flex;
}
.ProjectsButton:hover {
    background-color: #EAB308;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    text-decoration: none;
}
.AchievmentsButton {
    display: inline-block;
    padding: 25px 50px;
    color: #FFFFFF;
    border: 2px solid black;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    background-color: rgb(44, 62, 80);
    cursor: pointer;
    text-decoration: none;
}
.AchievmentsButton:hover {
    background-color: #EAB308;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    text-decoration: none;

}
.Intro {
    font-family: "Playfair Display", sans-serif;
    margin-bottom: 50px;
    font-size: 25px;
    padding: 20px;
    color: #333333;
}
.HireButton, .ProjectsButton, .AchievmentsButton {
    margin: 10px;
    font-size: 25px;
   
}
